body {
	margin: 0;
	padding: 0;

}

* {
	box-sizing: border-box;
}
/*--- Navigation */

#nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;

}
.navbar-brand img {
	height:40px;
	border-radius: 50%;
}

.navbar-nav li {
 	padding: 0 10px;
}

.navbar-nav li a {
	float: right;
	text-align: left;
}

#nav-bar ul li a:hover {
	color: orange!important;
}

.navbar {
	background-color: #fff;
}

.navbar-toggler {
	border: none;
}

.nav-link {
	color: #555;
	font-weight: 600;
	font-size: 16px;
}
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}

/*-- Rooms --*/
#rooms {
	background: #E5E4E2;
	padding-top: 50px;	
	padding-bottom: 50px;
	color: #555;
}

h1 {
	text-align: center;
	color: #555;
	padding-bottom: 15px;
}

h1:after {
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto;

}

/*--- Footer ---*/
#footer {
	background: #333;
	color: #fff;
	padding: 1px;
}

.fa-copyright {
	margin: 3px;
	color: black;
}